<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Podkeeper, <%= @user.username %></h1>
    <p>
      Thank you for trying out Podkeeper. I hope you enjoy it.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>If you like what you see, please give me a job.</p>
  </body>
</html>